In [1]:
# Importing libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Reading data

data = pd.read_csv("Monthly_data_cmo.csv")
data.head()

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name,state_name
0,Ahmednagar,Bajri,2015,April,79,1406,1538,1463,2015-04,Ahmadnagar,Maharashtra
1,Ahmednagar,Bajri,2016,April,106,1788,1925,1875,2016-04,Ahmadnagar,Maharashtra
2,Ahmednagar,Wheat(Husked),2015,April,1253,1572,1890,1731,2015-04,Ahmadnagar,Maharashtra
3,Ahmednagar,Wheat(Husked),2016,April,387,1750,2220,1999,2016-04,Ahmadnagar,Maharashtra
4,Ahmednagar,Sorgum(Jawar),2015,April,3825,1600,2200,1900,2015-04,Ahmadnagar,Maharashtra

In [3]:
data.drop(["state_name"], axis = 1, inplace =True)

In [4]:
data.Commodity.unique()

array(['Bajri', 'Wheat(Husked)', 'Sorgum(Jawar)', 'Maize', 'Gram',
       'Horse Gram', 'Matki', 'Pigeon Pea (Tur)', 'Black Gram',
       'Castor Seed', 'Soybean', 'Jaggery', 'Lemon', 'Ginger (Fresh)',
       'Potato', 'Ladies Finger', 'Flower', 'Carrot', 'Cluster Bean',
       'Ghevda', 'Ghosali(Bhaji)', 'Mango(Raw)', 'Cucumber', 'Onion',
       'Bitter Gourd', 'Cabbage', 'Garlic', 'Math (Bhaji)', 'Capsicum',
       'Tomato', 'Brinjal', 'Tamarind', 'Tamarind Seed',
       'Coriander (Dry)', 'Green Chilli', 'Chillies(Red)', 'Mustard',
       'Paddy-Unhusked', 'Hilda', 'Chikoo', 'Cotton',
       'Ground Nut Pods (Dry)', 'Pomegranate', 'Papai', 'Melon',
       'Beet Root', 'Bottle Gourd', 'Dhemse', 'Coriander ', 'Coriander  ',
       'Spinach', 'Shevga', 'Small Gourd', 'Grapes', 'Kharbuj',
       'Green Gram', 'Sunflower', 'Safflower', 'Mango', 'Water Melon',
       'Mosambi', 'Orange', 'Fenugreek', 'Cowpea', 'Green Peas (Dry)',
       'Squash Gourd', 'Maize (Corn.)', 'Chino', 'Curry Leaves',
       'Sweet Potato', 'Walvad', 'Rice(Paddy-Hus)', 'Custard Apple',
       'Green-Peas', 'Maize(Corn.)', 'Bhagar/Vari', 'Bor', 'Kardai',
       'Other Vegetables', 'Radish', 'Wal Papdi', 'Kanda Pat', 'Sesamum',
       'Shepu', 'Guava', 'Banana', 'Chavli (Shenga )', 'Apple',
       'Thymol/Lovage', 'Batbati', 'Other Cereals', 'Linseed',
       'Pineapple', 'Pumpkin', 'Methi (Bhaji)', 'Naspatti ', 'He Buffalo',
       'Lentil', 'Rajgira', 'Papnas', 'Awala', 'Harbara(Pendi)',
       'Buffalo', 'Jambhul', 'Amba Koy', 'Bullock Heart', 'Bullack',
       'Fig', 'Wal Bhaji', 'Sugarcane', 'Nagali', 'Ridge Gourd', 'Tag',
       'Ginger (Dry)', 'Zendu', 'Other Spices', 'Rala', 'Niger-Seed',
       'Indian Bean', 'Oth.Split Pulses', 'Other Pulses', 'Sarsav',
       'Neem-Seed', 'Male Lamb', 'Male Goat', 'Sheep', 'Other Oil Seeds',
       'Cow', 'Snake Gourd', 'Jack Fruit(Raw)', 'Chavli (Pala)',
       'Raddish', 'Mula Shenga', 'Pappaya (Bhaji)', 'Pigen-Pea (Bhaji)',
       'Goats', 'Turmeric', 'Amla', 'Split Gram', 'Split Lentil',
       'Spilt Gerrn Gram', 'Spilt Pigeon Pea', 'Split Black Gram',
       'Gr.Nut Kernels', 'Pavtta', 'Wood Apple', 'Strawberi',
       'Leafy Vegetable', 'Peer', 'Plum', 'Hemp-Seed', 'Wheat(Unhusked)',
       'Guvar', 'Punvad', 'Fennel', 'Coconut', 'Sugar', 'Arvi',
       'French Bean', 'Elephant Root', 'Cummin', 'Cashewnuts',
       'Betelnuts', 'Cardamom', 'Pitch', 'Litchi', 'Jack Fruit', 'Kand',
       'Parwar', 'Mint', 'Lang', 'Ambat Chuka', 'Karvand', 'Nolkol',
       'Hemp', 'Baru Seed', 'Shepa', 'Soup Berries', 'Shahale ',
       'Tandulja', 'Ghee', 'Farshi', 'Double Bee', 'Banana(Raw)',
       'Goosefoot', 'Ghevda Seed', 'Pavata', 'Harbara(Bhaji)', 'Gulchadi',
       'Shewanti', 'Jui', 'Kagda', 'Terda', 'Tuljapuri', 'Bijli',
       'Nachani', 'Bedana', 'Fodder', 'Skin & Bones', 'Aster', 'Chandani',
       'Kalvad', 'MOSAMBI', 'CABBAGE', 'RIDGE GOURD', 'GRAM',
       'GREEN CHILLI', 'LEMON', 'MAIZE', 'CORIANDER (DRY)', 'BLACK GRAM',
       'MELON', 'GREEN GRAM', 'POMEGRANATE', 'COWPEA', 'MATH (BHAJI)',
       'CAPSICUM', 'LADIES FINGER', 'GHOSALI(BHAJI)', 'CUCUMBER',
       'GARLIC', 'BOTTLE GOURD', 'SHEVGA', 'SPINACH', 'SOYBEAN',
       'GROUND NUT PODS (DRY)', 'BAJRI', 'WHEAT(HUSKED)', 'COTTON',
       'PIGEON PEA (TUR)', 'PADDY-UNHUSKED', 'SQUASH GOURD', 'BRINJAL',
       'SORGUM(JAWAR)', 'RICE(PADDY-HUS)', 'SUNFLOWER', 'CHILLIES(RED)',
       'POTATO', 'OTHER PULSES', 'LINSEED', 'MUSTARD', 'FLOWER',
       'METHI (BHAJI)', 'TOMATO', 'PIGEN-PEA (BHAJI)', 'WAL PAPDI',
       'BHAGAR/VARI', 'TURMERIC', 'WHEAT(UNHUSKED)', 'SAFFLOWER',
       'NIGER-SEED', 'SESAMUM', 'BATBATI', 'BOR', 'CHIKOO', 'GRAPES',
       'PAPAI', 'APPLE', 'ORANGE', 'CUSTARD APPLE', 'GINGER (FRESH)',
       'BEET ROOT', 'DHEMSE', 'CARROT', 'CLUSTER BEAN', 'ONION',
       'BITTER GOURD', 'PUMPKIN', 'CORIANDER ', 'GREEN-PEAS', 'BANANA',
       'OTHER CEREALS', 'SARSAV', 'JAGGERY', 'PINEAPPLE', 'WATER MELON',
       'AWALA', 'CHAVLI (SHENGA )', 'CHAVLI (PALA)', 'RADDISH',
       'SMALL GOURD', 'WAL BHAJI', 'GREEN PEAS (DRY)', 'JACK FRUIT',
       'PARWAR', 'GUAVA', 'AMBAT CHUKA', 'LEAFY VEGETABLE', 'KANDA PAT',
       'MINT', 'ELEPHANT ROOT', 'WALVAD', 'FARSHI', 'BUFFALO',
       'MALE GOAT', 'HORSE GRAM', 'LENTIL', 'MATKI', 'PAVTTA', 'PAVATA',
       'GHEVDA SEED', 'GHEVDA', 'SNAKE GOURD', 'SWEET POTATO',
       'GOOSEFOOT', 'MULA SHENGA', 'SHEPU', 'KHARBUJ', 'FODDER', 'GOATS',
       'FIG', 'MANGO(RAW)', 'MAIZE(CORN.)', 'CASTOR SEED', 'GUVAR',
       'PUNVAD', 'KARDAI', 'SHEEP', 'MALE LAMB', 'AMLA', 'SHAHALE',
       'TANDULJA', 'SPLIT GRAM', 'SPLIT LENTIL', 'SPILT GERRN GRAM',
       'SPILT PIGEON PEA', 'SPLIT BLACK GRAM', 'GR.NUT KERNELS',
       'INDIAN BEAN', 'ARVI', 'DOUBLE BEE', 'NOLKOL', 'HEMP',
       'HARBARA(BHAJI)', 'HARBARA(PENDI)', 'OTHER VEGETABLES',
       'CURRY LEAVES', 'RAJGIRA', 'GROUNDNUT PODS (WET)', 'NACHANI',
       'NAGALI', 'FRENCH BEAN', 'FENNEL', 'COCONUT', 'SUGAR',
       'GINGER (DRY)', 'TAMARIND', 'CUMMIN', 'CASHEWNUTS', 'BETELNUTS',
       'CARDAMOM', 'MANGO'], dtype=object)

**As it can be observed, there are many commodities with same names but are recorded as 2 different commodities pertaining to use of capitals.** <br/>
As for an example: *'Paddy-Unhusked' and 'PADDY-UNHUSKED', 'Bajri' and 'BAJRI', 'Garlic' and 'GARLIC'*  <br/>
**So, I convert all the commodity names to lowercase and merge the records of similar commodities. <br/>**

In [5]:
# Converting all Commodity names to lowercase in order to avoid duplicate entries

data["Commodity"] = [x.lower() for x in data["Commodity"]]

**Without loss of generality, I merge the commodities which register under a single name to one particular APMC on the same date with same minimum, maximum and modal prices.**

In [6]:
# Records of all the commodities which have been registered under same names.

data[data.duplicated(['APMC', 'Commodity', 'date', 'min_price', 'max_price', 'modal_price'], keep=False)]

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name
29431,Nagpur,garlic,2016,June,4901,5000,10000,8750,2016-06,Nagpur
29449,Nagpur,garlic,2016,June,6897,5000,10000,8750,2016-06,Nagpur
40288,Pune-Pimpri,garlic,2016,April,12,6000,6000,6000,2016-04,Pune
40299,Pune-Pimpri,garlic,2016,April,15,6000,6000,6000,2016-04,Pune
40828,Pune-Pimpri,garlic,2015,August,36,6000,6000,6000,2015-08,Pune
40846,Pune-Pimpri,garlic,2015,August,27,6000,6000,6000,2015-08,Pune
41723,Pune-Pimpri,garlic,2016,February,18,6000,6000,6000,2016-02,Pune
41740,Pune-Pimpri,garlic,2016,February,24,6000,6000,6000,2016-02,Pune
42146,Pune-Pimpri,garlic,2016,January,3,6000,6000,6000,2016-01,Pune
42167,Pune-Pimpri,garlic,2016,January,24,6000,6000,6000,2016-01,Pune
42679,Pune-Pimpri,garlic,2016,July,12,6000,6000,6000,2016-07,Pune
42694,Pune-Pimpri,garlic,2016,July,9,6000,6000,6000,2016-07,Pune
43616,Pune-Pimpri,garlic,2016,March,9,6000,6000,6000,2016-03,Pune
43631,Pune-Pimpri,garlic,2016,March,18,6000,6000,6000,2016-03,Pune
49592,Satara,garlic,2016,March,335,3000,5000,4000,2016-03,Satara
49605,Satara,garlic,2016,March,127,3000,5000,4000,2016-03,Satara
50271,Satara,garlic,2014,October,126,2000,5000,3500,2014-10,Satara
50294,Satara,garlic,2014,October,42,2000,5000,3500,2014-10,Satara
50590,Satara,garlic,2014,September,125,2000,5000,3500,2014-09,Satara
50613,Satara,garlic,2014,September,63,2000,5000,3500,2014-09,Satara

**As, it can be observed, registering commodities with all capitals and with Camel case has caused duplicate/erroneous entries.** <br/>
<br/>

In [7]:
data[data.duplicated(['APMC', 'Commodity', 'date', 'min_price', 'max_price', 'modal_price'], keep=False)].shape

(20, 10)


**So, there are 20 such records which need to be merged** <br/>
<br/>
**To merge these records, I add the total arrival in quintals and assign it to a single record and delete the second one.**

In [8]:
# Obtaining the list of indexes which contain duplicate entries

j = np.array(data.loc[data.duplicated(['APMC', 'Commodity', 'date', 'min_price', 'max_price', 'modal_price'], keep=False)].index)
d = []

In [9]:
# Adding and assigning total arrivals in quintal to one record

for i in range(0, len(j)-1, 2):
    data.loc[j[i], "arrivals_in_qtl"] = data.loc[j[i]]["arrivals_in_qtl"] + data.loc[j[i+1]]["arrivals_in_qtl"]
    d.append(j[i+1])

data.loc[j]

,APMC,Commodity,Year,Month,arrivals_in_qtl,min_price,max_price,modal_price,date,district_name
29431,Nagpur,garlic,2016,June,11798,5000,10000,8750,2016-06,Nagpur
29449,Nagpur,garlic,2016,June,6897,5000,10000,8750,2016-06,Nagpur
40288,Pune-Pimpri,garlic,2016,April,27,6000,6000,6000,2016-04,Pune
40299,Pune-Pimpri,garlic,2016,April,15,6000,6000,6000,2016-04,Pune
40828,Pune-Pimpri,garlic,2015,August,63,6000,6000,6000,2015-08,Pune
40846,Pune-Pimpri,garlic,2015,August,27,6000,6000,6000,2015-08,Pune
41723,Pune-Pimpri,garlic,2016,February,42,6000,6000,6000,2016-02,Pune
41740,Pune-Pimpri,garlic,2016,February,24,6000,6000,6000,2016-02,Pune
42146,Pune-Pimpri,garlic,2016,January,27,6000,6000,6000,2016-01,Pune
42167,Pune-Pimpri,garlic,2016,January,24,6000,6000,6000,2016-01,Pune
42679,Pune-Pimpri,garlic,2016,July,21,6000,6000,6000,2016-07,Pune
42694,Pune-Pimpri,garlic,2016,July,9,6000,6000,6000,2016-07,Pune
43616,Pune-Pimpri,garlic,2016,March,27,6000,6000,6000,2016-03,Pune
43631,Pune-Pimpri,garlic,2016,March,18,6000,6000,6000,2016-03,Pune
49592,Satara,garlic,2016,March,462,3000,5000,4000,2016-03,Satara
49605,Satara,garlic,2016,March,127,3000,5000,4000,2016-03,Satara
50271,Satara,garlic,2014,October,168,2000,5000,3500,2014-10,Satara
50294,Satara,garlic,2014,October,42,2000,5000,3500,2014-10,Satara
50590,Satara,garlic,2014,September,188,2000,5000,3500,2014-09,Satara
50613,Satara,garlic,2014,September,63,2000,5000,3500,2014-09,Satara

**As it can be observed, values of alternate records starting from first one have been updated**<br/>

**Size of data before dropping extra rows**

In [10]:
data.shape

(62429, 10)

In [11]:
data.drop(d, inplace = True)

**Size of data after dropping extra rows**

In [12]:
data.shape

(62419, 10)

**Therefore, 10 duplicate/erroneous records have been dropped**